<div class="halftitlepage" id="1">
  <h1>Dreams &#38; Journeys</h1>
  <h2>The Cathedral (Part One)</h2>
  <h3>by Dave Thompson</h3>

  <p>Current Version 1.0.1</p>
  <p>Copyright &copy; 2012 by Dave Thompson, Inc.</p>
  <p>All rights reserved including the right of reproduction in whole or in part in any form.</p>
  <p><a href="http://dathompson.com/writings/dreamsandjourneys/">Dreams &#38; Journeys Online Information</a></p>

  <p>ISBN: 9780983567714</p>
	<p>LCCN: 2010929905</p>
</div>