<div class="titlepage" id="2">
  <h1><img src="assets/images/wu_press_sm_logo.gif" alt="World Uniting Press" /></h1>
  <p>World Uniting Press is a division of World Uniting, providing perspective to the majority on behalf of those who are marginalized by current religiously and socially conflicting issues.</p>

  <p>Visit us at <a href="http://worlduniting.org">worlduniting.org</a></p>
  <p>Contact us at:<br />
     P.O. Box 7407<br />
     Tacoma, WA 98417 <br />
     <a href="mailto:press@worlduniting.org.com">press@worlduniting.org</a></p>
</div>