<div class="toc" id="3">
<h1>Table of Contents</h1>
  <p><a href="#1">Title</a></p>
  <p><a href="#2">About the Book</a></p>
  <p><a href="#3">Table of Contents</a></p>
  <p><a href="#4">The Author's Note</a></p>
  <p><a href="#5">Prologue</a></p>
  <p><a href="#c1">Chapter One: The Chaos</a></p>
  <p><a href="#c2">Chapter Two: The Cathedral</a></p>
  <p><a href="#c3">Chapter Three: The Room of Preparation</a></p>
  <p><a href="#c4">Chapter Four: Revelation&rsquo;s Art</a></p>
  <p><a href="#c5">Chapter Five: Justice&rsquo;s Scale</a></p>
  <p><a href="#c6">Chapter Six: Mercy&rsquo;s Sorrow</a></p>
  <p><a href="#c7">Chapter Seven: Virtue&rsquo;s Quandary</a></p>
  <p><a href="#p1">Postscript</a></p>
  <p><a href="#p2">About the Author</a></p>
  <p><a href="#p3">Upcoming Works</a></p>
</div>