<div class="preface" id="5">
  <h1>Prologue</h1>
  <p>It was by way of slumber that I happened upon fate, this journey, my pilgrimage of thought. Had heaven held her vision in any other manner, I would never have gained her favor. Such was my bequeathed fate, suffered upon by angels of enlightenment destined to be marooned somewhere between misery and fortune.</p>
  <p>Now to account the acrid subtleties which burned so brilliantly in my mind. Heaven spoke to me and her wage required revelation.</p>
</div>