<div class="postscript" id="p1">
  <h1>Postscript</h1>
  <p>There was still more to recount, as my journey had only yet begun. There were others I would meet, the misguided wayfarers who wandered in the chamber. Their misgivings would grant further clarity to the thrones&rsquo; revelations. Then into the chaos once again where I would travel amidst those who were at their journey&rsquo;s beginning.</p>
  <p>But for now I must ponder. Perhaps, for now, it is enough that I have penned this account of my journey&rsquo;s beginnings. Having tested the spoils of knowledge, I can only pray heaven might now favor me to rest.</p>
</div>