<div class="author" id="p2">
  
  <img src="assets/images/dave_headshot.png" title="Headshot" alt="Author Headshot" />

  <p>Dave Thompson is the President of <a href="http://worlduniting.org" target="_blank">World Uniting</a>, a Tacoma based non-profit 
		providing perspective to the majority on behalf of those who are marginalized by 
		current religiously and socially conflicting issues. As a writer, speaker, and musician 
    Dave is tackling some of the front burner issues of today through a unique and diverse 
    world view. Raised in the conservative church and having studied to be a 
    conservative minister, Dave brings a discerning understanding of the conservative 
    mind, faith, and framework.</p>

  <p>His father a doctor and his
  mother a mayor who turned missionaries, Dave was early exposed to a diversity
  of cultures, heritage and understandings, providing him a classroom of nations
  and a world of musical stages. Interweaving his experiences Dave blends a rich
  tone of perspective heard clearly on the pages of his writings and in his
  speaking appearances.</p>

  <p>Dave&rsquo;s strength
  lies in his capacity to share his softer side through music and performance.
  His style brings a classically trained foundation of piano and voice,
  encompassing crossover expressions of folk, gospel, and jazz, lending a uniquely
  tender ballad. Beginning his stage career at the age of five, Dave brings a
  natural stage comfort and ease, providing a disarming connection with the
  hearts of his listeners.</p>

  <p>Dave is consistently pushing
  the boundaries with innovative approaches to his writing, lectures, and music.
  His audiences continue to walk away with an engaging acquaintance, challenging
  their horizons with conversation, connecting their hearts with concert.</p>
  
</div>