<div class="appendix" id="p3">

  <h2>Other Works</h2>
	<p>&nbsp;</p>
  <h2>Over Coffee</h2>
	<h3>A Conversation for Gay Partnership &amp; Conservative Faith</h3>

  <p>Over Coffee is a narrative piece couched in the coffee-house conversation between the author and a small-town pastor concerning a gay church member who desires to be partnered in the church.</p>

	<p>Over Coffee warmly introduces the reader to a conservative, faith-based dialogue for providing room on the pew in today&rsquo;s most conservative churches for gay partnered persons.</p>
	<p>&nbsp;</p>

  <h2>A Manifesto of Faith</h2>
	<h3>A Necessary Uncertainty (Part One)</h3>

  <p>Dave&rsquo;s upcoming work arguing
  the legitimacy of faith in a secular and scientific society.</p>
  
</div>